<h1>Show User</h1>

<ul>

  <li>
    <strong>Login:</strong>
    <%= "#{@user.first_name} #{@user.last_name}" %> 
  </li>

</ul>

<span><%= link "Show URLs", to: Routes.url_path(@conn, :index) %></span>
<% IO.puts "#{@user.first_name} #{@user.last_name}" %> 
<span><%= link "Back", to: Routes.user_path(@conn, :index) %></span>
